*{
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}

.cabecera{
    background-color: white;
    display: flex;
    justify-content: right;
    align-content: space-around;
    height: 4em;
}
body {

}

.parrafo1{
    padding: 0rem 3rem 13rem 3rem;
    text-align: center;
    animation-name: example;
    animation-duration: 2s;
}



.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height: 30rem;
}
.productora{
    align-items: center;
    color: white;
}
.productora2{
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 30em;
    padding: 2rem 20rem 0rem 0rem;
}
 
.Presentacion{
    background-color: white;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 30em;
    
}
.ParrafoP{
    padding: 0rem 10rem 0rem 20rem;
}

.Presentacion2{
    background-color: white;
    display: flex;
    align-items: left;
    justify-content: flex-end;
    height: 30em;
}

.servicios{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;   
}
.servicios2{
    color: white;
    display: table-column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    text-align: center;

}
.servicios3{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;

}

.portafolio{
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    
}
.portafolio2{
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
}
.galeria{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.galeriaitem{
    cursor: pointer;
    width: 80%;
}
@media (min-width:480px){
    .galeriaitem{
        width: 30%;
        margin: 2px;
    }
}
.equipo{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 5rem;
}

.equipo2{
    color: white;
    display: table-column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    text-align: center;
}
.contacto{
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    
}
.contacto2{
    background-color: azure;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    height: 15rem;   
}

.inferior{
    background-color: rgba(47, 110, 228, 0.856);
    display: flex;
    justify-content: space-around;
    height: 10rem;   
}
.redes{
    color: white;
    display: table-column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    text-align: center;
}